@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.slidebox {
    width:100vw;
    height:100vh;
    overflow:hidden;
    position:relative;
}


.slidebox iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.slidebox iframe {
pointer-events:all;
}
.slidebox iframe{
position: absolute;
top: -60px;
left: 0;
width: 100%;
height: calc(100% + 120px);
}
.vid-box {
pointer-events:all;
}

.cover {
    z-index: 10;
    top: 70vh;
    position: absolute;
    width: 100vw;
    height: 30vh;
    text-align: center;
}

.nxt {
    position: relative;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px #ccc;
    border-radius: 12px;
}

.nxt p {
    z-index: 5;
    position: relative;
    padding: 5px 10px;
    float: center;
}

.next-ex {
    position: relative;
    z-index: 5;
}

.workout {
    width: 100vw;
    position: relative;
    overflow: hidden;   
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle {
    top: 0px;
    background-color: black;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0px 0px 25px rgba(91, 72, 133, 0.57);
}

.tasto {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-radius: 8px;
    font-size: 15px;
    padding: 5px 8px;
    margin: 2px;
}

.toggle.active {
    top: 7px;
    background-image: url('https://drive.google.com/thumbnail?id=1tfaRyfrOuJ9j_RBv6hvKQb0DyLAVSGi0');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-size: contain;
    width: 50px;
    height: 50px;
    color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 25px rgba(91, 72, 133, 0);
}

.showcase {
    position: absolute;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: white;
    z-index: 2;
    transition: 1.5s;
    overflow-x: hidden;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer {
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px #ccc;
    padding: 5px 15px;
    border-radius: 15px;
    z-index: 10;
}

.timer h1 {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    line-height: 59px;
    padding: 0;
    margin: 0;
}


#container {
    display: grid;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    scroll-snap-align: center;
    overflow: auto;
    white-space: nowrap;
    width: 100vw;
    height: 100vh;
    position: absolute;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    scroll-behavior: smooth;
}


#container::-webkit-scrollbar {
    display: none;
}

.slidebox {
    scroll-snap-align: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-flex;
    overflow: hidden;
    flex-direction: column;
    text-decoration: none;
    transition: all 1.5s ease;
}

.vid-box {
    scroll-snap-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

video, iframe {
    object-fit: cover;
    width: 700px;
    height: 394px;
}

.text {
    position: relative;
    top: 57vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

.text h1 {
    padding: 0;
    margin: 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.text h2 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.74);
}

/* Change Exercise */

.divtxt0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 12px 20px;
    border-radius: 12px;
    margin-top: 15px;
    box-shadow: 0 0 50px rgba(204, 204, 204, 0.59);
}

.toggle1 {
    z-index: 10;
    position: fixed;
    width: 80.6px;
    height: 44.4px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 125px;
    color: white;
    background-color: black;
    border-radius: 12px;
    padding: 5px 13px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: solid 0px;
    cursor: pointer;
    transition-duration: 1s;
}



/* fine prossimo esercizio */

/* inizio menu workout completo */

.only-logo {
    position: absolute;
    margin: 0;
    top: 50px;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
}

.social {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 5px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5)  translateY(-15px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #111;
}


.menu ul.menus {
    position: relative;
    list-style: none;
}

.menu li {
    width: 300px;
    margin-top: 10px;
    padding: 0 25px;
    height: fit-content;
}

.menu li:first-child {
    padding: 0 10px;
}

.trainers {
    position: relative;
    top: 125px;
    text-decoration: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

.End {
    box-shadow: 0 0 50px rgba(204, 204, 204, 0.633);
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius: 12px;
    transition-duration: 0.5s;
}

.End:hover {
    letter-spacing: 6px;
    color: rgb(0, 191, 255);
}

.menu ul li a:hover {
    color: rgb(0, 191, 255);
}

.text-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.text-cont h1 {
    font-size: 15px;
    font-weight: 600;
}

.text-cont h2 {
    font-size: 10px;
}

#text-cont1 {
    justify-content: center;
}

#text-cont1 h1 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.pass {
    position: absolute;
    z-index: 99999;
    top: 0px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
}

.Container1 {
    pointer-events: all;
    display: flex;
    z-index: 100000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 80vw;
    max-width: 500px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 50px #ccc;
    padding: 10px;
}

.Container1 h1 {
    background-color: white;
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 50px #ccc;
    margin: 15px 10px 20px 10px;
}

.Container2 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Container2 p {
    font-weight: 600;
}

#passwordBox {
    align-items: center;
    text-align: center;
    font-size: 15px;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: rgb(3, 86, 114) solid 2px;
    font-weight: 300;
    padding: 2px;
    margin-top: 10px;
}

.opn {
    margin-top: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px #ccc;
    width: fit-content;
    border-width: 0px;
    padding: 2px 10px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

@media(min-width: 515px) {
    .showcase, .menu, .pass {
        display: none;
    }

    body {
        background-color: white;
        max-height: 100vh;
        max-width: 100vw;
    }

    .oversize {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 90vh;
        width: 100vw;
    }
    
    .over {
        text-decoration: none;
        position: fixed;
        bottom: 10px;
        width: fit-content;
        height: fit-content;
        padding: 5px 10px;
        border-radius: 12px;
        color: rgb(0, 0, 0);
        background-color: white;
        box-shadow: 0 0 50px #ccc;
        position: relative;
        font-weight: 500;
        cursor: not-allowed;
    }
}


@media(max-width: 515px) {

    .oversize, .over {
        display: none;
    }

    .vid-box, video, iframe {
        height: 100vh;
        width: 100vw;
        margin: 0;
    }

    .workout {
        top: 0px
    }

    .showcase header {
        padding: 15px;
    }

    .only-logo {
        top: 25px;
    }

    .showcase header {
        padding: 15px 20px;
        top: 15px;
    }

    .timer {
        padding: 0px 10px;
    }

    .timer h1 {
        font-size: 25px;
        font-weight: 600;
    }

    .text {
        margin-top: -450px;
    }

    .text h1 {
        font-size: 20px;
    }

    .text h2 {
        font-size: 15px;
    }

    button {
        margin-top: 15px;
        background-color: black;
        border-radius: 12px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.57);
    }
    
    button p {
        padding: 5px 13px;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
}

@media(max-width: 389px) {

    .vid-box, video, iframe {
        height: 100vh;
        width: 100vw;
        min-width: 100%;
        min-height: 100%;
    }

}